@media screen and (min-width: 1040px) {
    .container {
      margin-left: 2em;
      margin-right: 2em;
    }
  
    .home_container {
      padding-top: 2rem;
    }
    .home {
      grid-template-columns: 1fr 1fr;
    }
    .home_info {
        grid-column: 1/3;
    }
  
    .footer_container {
      grid-template-columns: repeat(3, max-content);
      justify-content: space-between;
      column-gap: 2em;
    }
    .footer_logo {
      column-gap: .5rem;
    }
    .footer_title {
      margin-bottom: 1.5rem;
    }
    .footer_links {
      row-gap: .75rem;
    }
    .footer_social-link {
      font-size: 1.5rem;
    }
    .footer_copy {
      padding-bottom: 1rem;
    }
  }