@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Saira+Condensed:wght@300&display=swap');

body {
    background-color: #14CC60;
    color: #14CC60;
    font-family: 'Saira Condensed', sans-serif;
}

header {
    margin-top: 20px;
    background-color:  #0A2E36;
    color: #27FB6B;
    text-align: center;
    padding: 15px 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-size: 50%;
}

header div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

header a, header a:hover {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
}

.menu {
    display: block;
    justify-content: space-between;
    align-items: center;
}

.menu button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
}

.menu_items {
    display: none;
    padding-inline-start: 0;
    list-style: none;
}   

.menu_items.open  {display: block;}

.menu_items li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.5) ;
}

.menu_items li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #27FB6B;
}

.menu_items li a:hover {
    background-color: rgba(0,0,0,0.3);
}

.social {
    display: block;
    margin: 0px;
}

date {
    display: none;
}

aside em{
    font-style: normal;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

aside {
    border-top: rgba(0, 0, 0, 0.753);
}

h1 {
    margin: auto;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #006BB8;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    color: #006BB8;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 50%;
}

main {
    text-align: center;
    justify-content: space-evenly; 
    justify-items: center;
    padding: 1.5em;
}

section {
    box-shadow: 5px 0 5px 0 rgba(64, 234, 211, 0.125);
    background-color: #0A2E36;
    padding: 2px;
    margin: 10px 0 0 0;
}

section p, section a {
    margin: 15px;
    text-align: justify;
}

p {
    background-color: #0A2E36;
}

a{ 
    text-decoration: none;
    padding: 0 0 1em 0;
}
a:link {
    color: #27FB6B;
  }
a:visited {
    color: #14CC60;
}
a:hover {
    font-size: 1.1em;
    background-color: rgba(0, 107, 184, .3);
}

/* footer */
.bottom {
    color: #006BB8;
    text-align: center;
    padding: 10px;
    background-color: #0A2E36;
    margin: 10px auto;
    font-weight: bold;
}

.bottom div {
    display: grid;
    justify-items: center;
    grid-gap: 1px;
}

.bottom1 img {
    width: 40%;
}