@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Saira+Condensed:wght@300&display=swap');
* {
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body {
    background-color: #14CC60;
    color: #14CC60;
    font-family: 'Saira Condensed', sans-serif;
}

header {
    margin-top: 20px;
    width: 100%;
    /* height: 100vh; */
    background-color:  #0A2E36;
    color: #27FB6B;
    text-align: center;
    padding: 15px 10px;
    align-content: center;
    justify-content: center;
    align-items: center;
}

header div {
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}
/* NAV */
header a, header a:hover {
    padding: 0px;
    background-color: rgba(255, 255, 255, 0);
    font-family: 'Open Sans', sans-serif;
}

.menu {
    display: block;
    justify-content: space-between;
    align-items: center;
}

#hamburgerBtn span:nth-child(1) {display: block;}
#hamburgerBtn span:nth-child(2) {display: none;}

#hamburgerBtn.open span:nth-child(1) {display: none;}
#hamburgerBtn.open span:nth-child(2) {display: block;}

.menu button {
    margin: .2rem 2vw;
    background: transparent;
    border: none;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}

.menu_items {
    display: none;
    padding-inline-start: 0;
    list-style: none;
}   

nav .menu_items.open {display: none;}
nav .menu_items.open  {display: block;
    position: absolute;
    background: #0A2E36;
    width: 100%;
    left: 0;
    z-index: 999;
    top: 152px;
}

.menu_items li a {
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0,0,0,0.5) ;
}

.menu_items li.active a {
    background-color: rgba(0,0,0,0.2);
    color: #27FB6B;
}

.menu_items li a:hover {
    background-color: rgba(0,0,0,0.3);
}

.social {
    display: block;
    margin: 0px;
}

date {
    display: none;
}

aside em{
    font-style: normal;
    font-size: 13px;
    font-family: 'Open Sans', sans-serif;
}

aside {
    border-top: rgba(0, 0, 0, 0.753);
}

h1 {
    margin: auto;
    padding: 5px;
    font-family: 'Open Sans', sans-serif;
}

h2 {
    color: #006BB8;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
h3 {
    color: #006BB8;
    margin: 10px;
    font-family: 'Open Sans', sans-serif;
}

img {
    width: 50%;
}

/* main */

main {
    text-align: center;
    justify-content: space-evenly; 
    justify-items: center;
    padding: 1.5em;
}

main div {
    margin: 0.5rem;
    border: 1px solid #bbb;
    padding: 0 1rem;
    background-color: #0A2E36;
    display: block;
}
/* ___________________________________________ */
.hero {
    position: relative;
    padding: 0px;
}
#hero-img {
    object-fit: cover;
    width: 100%;
    height: 10em;
}
#hero-text {
    position: absolute;
    top: 1em;
    left: 1em;
    font-size: 16px;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.603);
}
#hero-button {
    position: absolute;
    top: 60%;
    left: 70%;
    padding: 5px 10px;
    letter-spacing: 2px;
    overflow: hidden;
    transition: 0.2s;
    background:rgba(10, 46, 54, 0.50);
    color:#14CC60;
    border-color: transparent;
    border-radius: 5px;
    cursor: pointer;
}
#hero-button:hover {
    background: #006BB8;
    box-shadow: 0 0 10px #006BB8, 0 0 30px #006BB8, 0 0 60px #006BB8;
    transition-delay: 1s;
    font-size: 1.2em;
}
#hero-button span{
    position: absolute;
    display: block;
}
#span1{
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent,#006BB8);
 }
#hero-button:hover #span1{
    left: 100%;
    transition: 1s;
}
 #span3{
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent,#006BB8);
}
#hero-button:hover #span3{
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}
#span2{
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg,transparent,#006BB8);
}
#hero-button:hover #span2{
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
#span4{
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg,transparent,#006BB8);
}
#hero-button:hover #span4{
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ___________________________________________ */

.join {
    display: none;
}
.join-button {
    width: 100%;
    border-radius: 5px;
    margin-top: 20px;
    overflow: hidden;
    transition: 0.2s;
    background:rgba(1, 224, 12, 0.63);
    border-color: transparent;
    cursor: pointer;
}
.join-button:hover {
    background: #006BB8;
    box-shadow: 0 0 10px #006BB8, 0 0 30px #006BB8, 0 0 60px #006BB8;
    font-size: 1.2em;
}

.spotlight3 {
    display: none;
}

section {
    box-shadow: 5px 0 5px 0 rgba(64, 234, 211, 0.125);
    background-color: #0A2E36;
    padding: 2px;
    margin: 10px 0 0 0;
}

section p, section a {
    margin: 15px;
    text-align: justify;
}

p {
    background-color: #0A2E36;
}

a{ 
    text-decoration: none;
    padding: 0 0 1em 0;
}
a:link {
    color: #27FB6B;
  }
a:visited {
    color: #14CC60;
}
a:hover {
    font-size: 1.1em;
    background-color: rgba(0, 107, 184, .3);
}

/* footer */
.bottom {
    color: #006BB8;
    text-align: center;
    padding: 10px;
    background-color: #0A2E36;
    margin: 10px auto;
    font-weight: bold;
}

.bottom div {
    display: grid;
    justify-items: center;
    align-content: center;
}

.bottom1 img {
    width: 100%;
}

.bottom1 h2, .bottom1 p {
    text-align: left;
}

/* Join part */
.join-main {
    padding: 0 2%;
    min-height: 20rem;
    text-align: left;
}
form fieldset {
    margin: 2rem 0;
    border: 1px solid #445ba9;
    border-radius: 10px;
    padding: .5rem 2%;
}
form legend {
    color: #445ba9;
    margin: 0 1rem;
    padding: 0 .5rem;
}
form label.top , form div {
    display: block;
    padding-top: 1rem;
    color: #9c2c13;
}
form label.top input, form label.top textarea, form label.top select {
    -webkit-appearance: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: 45px;
}
form label.sbs {
    display: block;
    padding: .75rem 0;
    color: #555;
}
form input.submitBtn {
    border: none;
    background-color: #9c2c13;
    color: white;
    border-radius: 1rem;
    padding: .75rem 1.5rem;
    margin: 0 0 2rem 2%;
    width: 96%;
    max-width: 20rem;
}
form label.top input:required {
    border-left: red solid 6px;
}
form label.top input:required:valid {
    border-left: green solid 6px;
}

.join-section, .join-section aside {
    display: block;
    background-color: #8FE7B4;
}
.join-section div, .join-section div p {
    background-color: #8FE7B4;
}
.membershipLevels div {
    border: none;
}