@media only screen and (min-width: 1080px) {
    body{
        background-color: #14CC60;
        color: #14CC60;
        max-width: 1080px;
        margin: 0 auto  ;
    }

    h2 {
        padding: 0 0 15px 0;
    }
    
    .logo {
        width: 100%;
    }

    main{
        text-align: center;
        justify-content: space-evenly; 
        justify-items: center;
        padding: 3em;
    }
/* nav */
    .menu {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .menu button {display: none;}
/* ul */
    .menu_items {
        display: flex;
        padding-inline-start: 0;
        list-style: none;
    }    

    .menu_items li {
        display: block;
        flex: 1 1 auto;
    }

    .menu_items li a {
        padding: .5rem 1rem;
        text-align: center;
    }


    section{
        box-shadow: 15px 5px 15px 5px rgba(10, 46, 54, 0.50);
        background-color: #0A2E36;
    }

    header {
        font-size: 100%;
    }

}