@media only screen and (min-width: 37.5em) {

    header {
        font-size: 70%;
    }

    img {
        width: 70%;
    }

    .logo {
        width: 180px;
    }
    
    .menu_items li a {
        padding: 0 25px;
        border: none;
    }

    .social {
        display: flex;
        margin: 0px;
    }

    aside em{
        font-style: normal;
        font-size: 20px;
    }
    
    .bottom1 {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}