@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap');
* {
    font-family: Ubuntu, "sans-serif";
    text-align: center;
}

table, th, td {
    border: 0.2px solid gray;
    border-collapse: collapse;
    text-align: center;
    background-color: #E7F0ED;
    font-size: 25px;
}

th, td {
    padding: 10px 10px;
}

.th1 {
    background-color: #7FB9C2;
}
.th2 {
    color: white;
    background-color: #628CA6;
}
#title {
    font-size: 30px;
    font-weight: bold;
}
#bottom td {
    font-size: 70%;
}

table {
    margin: auto;
    margin-top: 100px;
    box-shadow: 5px 5px 10px 5px rgba(59, 106, 136, 0.644);
}

@media only screen and (max-width: 650px) {
    table, th, td {
        font-size: 20px;
    }
}
@media only screen and (max-width: 350px) {
    table, th, td {
        font-size: 15px;
    }
}
